/* Table.module.css */

.container {
    /* padding: 20px; */
    /* background-color: 'red'; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    width: 100%;
  }

  
  .table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }
  
  .tableHead {
    background-color: #D8D2DE;
  }
  
  .th {
    padding: 10px;
    border-bottom: 2px solid #cccccc;
  }
  
  .td {
    padding: 10px;
    border-bottom: 1px solid #cccccc;
    background-color: #ffffff;
  }
  
  .actionButton {
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
  
  .actionButton:hover {
    background-color: #d4d4d4;
  }
  
  .rowHover:hover {
    background-color: #f0f0f0;
  }

.edit {
  width: 16px;
  height: 16px;
  top: 240px;
  left: 1166px
}